{% extends 'base.html' %}
{% block content %}

<div align="Center"><h3><ins><caption>STUDENTS</caption></ins></h3></div>

    {% if latest_student_list %}
        <center>
            <table background-color: #f1f1c1; border="1px solid black" border-collapse: "collapse"  style="width:100%">
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <th>StudentId</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Books in hand</th>
                    <th>Fine</th>
                </tr>
            {% for student in latest_student_list %}
                <tr>
                    <td>{{student.student_id}}</td>
                    <td>{{student.student_name}}</td>
                    <td>{{student.age}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.gender}}</td>
                    <td>{{student.books_in_hand}}</td>
                    <td>{{student.fine}}</td>
                    <td><a href="{% url 'edit_student' student.id%}">Edit</a></td>
                    <td><a href="{% url 'delete_student'  student.id  %}">Delete</a></td>

                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                
            {% endfor %}
            </table>

            &nbsp
            &nbsp
            &nbsp

        </center>
        <center>

            <form method="post" action="{% url 'create_student'  %}">{% csrf_token %}
                <input type='submit' value='Add student'/>
            </form>
        </center>
       
    {% else %}
        <p>Students not exist.</p>

    {% endif %}
{% endblock content %}